<template>
  <div>
    <input class="custom-input" type="text" placeholder="Write task here..." v-model="todo" @keypress.enter="addTask">
    <button class="custom-button green" @click="addTask">Add To Do</button>
    <div>
      <span style="color:red;">
      {{ errorMessage }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddTask',
  data() {
    return {
      todo: '',
      errorMessage: '',
    }
  },
  methods: {
    addTask() {
      if (this.todo !== '' && this.todo !== null && this.todo !== undefined) {
        this.$emit('addEvent', this.todo)
        this.todo = ''
        this.errorMessage = ''
      } else {
        this.errorMessage = 'Please enter To-Do.'
      }
    },
  },
}
</script>

<style scoped>
.custom-input {
    width: 30%;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 10px;
}
</style>
