<template>
  <div>
    <h3>Completed To-Do List:</h3>
    <table id="todoTask" align="center">
      <tr>
        <th width="90%">Completed Task</th>
        <th>Actions</th>
      </tr>
      <tr v-for="(task,key) in tasks" :key="key">
        <td>{{task}}</td>
        <td>
          <button class="custom-button red" @click="$emit('undoneEvent',key)">&#10008;</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'CompletedTask',
  props: {
    tasks: Array,
  },
}
</script>

<style scoped>
</style>
