<template>
  <div class="hello">
    <AddTask @addEvent="addTodo"></AddTask>
    <RemainingTask :tasks="todos" @doneEvent="doneTodo" @deleteEvent="deleteTodo"></RemainingTask>
    <CompletedTask :tasks="completedTodos" @undoneEvent="undoneTodo"></CompletedTask>
  </div>
</template>

<script>
import CompletedTask from './CompletedTask.vue'
import RemainingTask from './RemainingTask.vue'
import AddTask from './AddTask.vue'

export default {
  name: 'ToDoList',
  components: {
    CompletedTask,
    RemainingTask,
    AddTask,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      todo: '',
      todos: [],
      completedTodos: [],
      errorMessage: '',
    }
  },
  methods: {
    addTodo(todo) {
      if (todo != '' && todo != null && todo != undefined) {
        this.todos.push(todo)
        this.todo = ''
        this.errorMessage = ''
      } else {
        this.errorMessage = 'Please enter To-Do.'
      }
    },
    doneTodo(key) {
      if (this.todos[key] != null && this.todos[key] != undefined) {
        this.completedTodos.push(this.todos[key])
      }
      this.todos.splice(key, 1)
    },
    deleteTodo(key) {
      if (this.todos[key] != null && this.todos[key] != undefined) {
        this.todos.splice(key, 1)
      }
    },
    undoneTodo(key) {
      if (this.completedTodos[key] != null && this.completedTodos[key] != undefined) {
        this.todos.push(this.completedTodos[key])
      }
      this.completedTodos.splice(key, 1)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
