<template>
  <div id="app">
    <ToDoList msg="Welcome to To-Do List"/>
  </div>
</template>

<script>
import ToDoList from './components/ToDoList.vue';

export default {
  name: 'app',
  components: {
    ToDoList,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#todoTask {
  border-collapse: collapse;
  width: 60%;
}

#todoTask td, #todoTask th {
  border: 1px solid #ddd;
  padding: 8px;
}

#todoTask tr:nth-child(even){background-color: #f2f2f2;}

#todoTask tr:hover {background-color: #ddd;}

#todoTask th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:hover {background-color:#f5f5f5;}

.custom-button {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
.green {
  background-color: #4CAF50;
}
.red {
  background-color: red;
}
</style>
